@tailwind base;
@tailwind components;
@tailwind utilities;

.imghd {

    background-image: url("/storage/img/Jaquette.jpg");
    height: 875px; 
    width: 1440px;
   background-repeat: no-repeat;
  
}

.oppacité {
    background-color: rgba(217, 217, 217, 0.603);
}

.block6{
    height: inherit;
    width: 100%;
   
  }