@tailwind base;
@tailwind components;
@tailwind utilities;
 

body {
    background-image: url(/storage/img/WaveLine.svg);
    background-repeat: no-repeat;
    background-size: cover;
  

}


.imghd {
    background-image: url("/storage/img/Jaquette_horizontal.png");
    height: 110vh;
    width: 99vw;
    display: flex;
    flex-wrap: wrap;
   
    background-size:100vw;
    justify-content: center;
   align-items:flex-start;
position: relative ;
background-repeat: no-repeat;
z-index: -10;
}

@media screen and (max-width: 768px) {
    .imghd {
        background-image: url("/storage/img/Jaquette_03.jpg");
        height: 100vh;
        width: 100vw;
       
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #FFFFFFFF;
      transition-duration: .25s;
    }
  /* //____________________menu mobile________________________________ */
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      
   
.hamburger-menu {
    display:block;
  }
      .menu__btn {
        
        position: fixed;
        top: 30px;
        right: 10px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 50;
      }
    
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        z-index: 50;
        position: fixed;
        top: 0;
        left: -100%;
        width: px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #eceff1f0;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #0d58ef7f;
      }
    
     

}


.monswiper{
z-index: -10;
}

 
    
   


.oppacité {
    background-color: rgba(217, 217, 217, 0.603);
    margin-top: 15px;
}

.block6 {
    height: inherit;
    width: 100%;
}




 